.App {
  text-align: center;
}
body{
  background-color: #d1e8e2;

}
p{
  color: #2c3531;
}
h1{
  color: #116466;
}
h2{
  color: #d9b08c;
}
.grid_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
}

@media screen and (max-width: 992px) {
  .grid_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
  }
}

.img {
  position: relative;
  margin-bottom: 4px;
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}
.hovers{
  display: flex;
  background-color: rgba(255, 0, 0, 0.5);
  max-height: 300px;
}
li{
  padding: 5px;
}
.hovers .img:hover{
  opacity: .7;
  transform: scale(1.05,1.05);
  cursor: pointer;
}
.hovers .after{
  position: absolute;
  margin: auto;
  align-self: center;
  align-items: center;
  justify-content:center;
  align-content:center;
  color: #61dafb;
  background-color: rgba(48, 250, 40, 0.5);
}


.App-link {
  color: #61dafb;
}
